h5{
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
}
#product .card{

    background-color: rgb(224, 219, 219);
    box-shadow: 5px 5px 15px #4390e9;
    transition: all 0.3s ease-in;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    border: none;
    color: rgb(12, 11, 11);
}
.price{
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
}
img:hover{
    transform: scale(1.09);
}

#product .card:hover{
    background-color: rgb(95, 88, 88);
    color: white;
    border:none;
    box-shadow: 5px 5px 10px #9E9E9E;
    font-weight: normal;
} 
@media screen and (max-width:567px) {
    #product .card{
        width: 80%;
        margin: auto;
    }
}

.fa-heart{
    float: right;
    margin-right: 12px;
    font-size: 20px;
}
