<div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-6 mt-5">
           <img src="https://cdn-images-fishry.azureedge.net/themes/Summer-21-Main-Banner-6-b518750-ismail-stores.jpg" width="100%" alt="">
        </div>
        <div class="col-sm-12 col-md-12 col-lg-6 mt-5 mb-5">
            <form class="w-100 ">
                <h1 class="text-center text-white mt-5">LOGIN</h1>
                <div class="form-floating mb-3 mt-3">
                    <input type="email" class="form-control" id="un" placeholder="name@example.com">
                    <label for="un" class="form-label">Email address</label>
                  </div>
                  <div class="form-floating">
                    <input type="password" class="form-control" id="ps" placeholder="Password">
                    <label for="ps" class="form-label">Password</label>
                  </div>
                  <button class="btn btn-warning text-dark d-block mx-auto mt-3 mb-3" type="submit">Sign In</button>
                  <a class="a1 mt-4" href="#">Forgot Password</a>
                  <p id="i1" class="mt-2 text-center text-white">New to Shopify? <a href="#" class="a1">Sign Up</a></p>
        

            </form>
            
        </div>


    </div>

</div>



