h3{
    font-family: 'Poppins', sans-serif;
}
span{
    font-size: 20px;
}
.pincode{
    border:1.7px solid rgb(143, 143, 184);
    padding: 10px 3px;
    font-family: 'Poppins', sans-serif;
    border-radius: 4px;
    font-weight: bold;
    color: black;
    background-color: rgb(110, 147, 214);
}
.check{
    border: 1px solid rgb(245, 47, 47);
    text-decoration: none;
    padding: 5px 12px;
    color: rgb(253, 251, 251);
    font-family: 'Poppins', sans-serif;
    margin-left: 80px;
    border-radius: 4px;
    font-size: 15px;
    background-color: rgb(245, 47, 47);
    font-weight: 400;
}
.offers{
    border:1.7px solid rgb(143, 143, 184);
    padding: 10px 3px;
    font-family: 'Poppins', sans-serif;
    border-radius: 4px;
    font-size: 15px;
    color: black;
    background-color: rgb(110, 147, 214);
}
.fee{
    border:1.7px solid rgb(143, 143, 184);
    padding: 10px 3px;
    font-family: 'Poppins', sans-serif;
    background-color: rgb(110, 147, 214);
    border-radius: 4px;
    font-size: 15px;
    color: black;
}
h5{
    font-family: 'Poppins', sans-serif;
}
.table{
    border: 1.7px solid rgb(143, 143, 184);
    border-radius: 4px;
}




.coupon{
    border:1.7px solid rgb(143, 143, 184);
    padding: 10px 3px;
    font-family: 'Poppins', sans-serif;
    border-radius: 4px;
    background-color: rgb(110, 147, 214);
    font-size: 15px;
    color: black;
}
h6{
    font-family: 'Poppins', sans-serif;
}

.details{
    border:1.7px solid rgb(143, 143, 184);
    padding: 10px 3px;
    font-family: 'Poppins', sans-serif;
    border-radius: 4px;
    font-size: 15px;
    background-color: white;
    color: black;
}

.amount{
    border: 1px solid rgb(245, 47, 47);
    text-decoration: none;
    padding: 6px 50px;
    color: rgb(253, 251, 251);
    font-family: 'Poppins', sans-serif;
    margin-left: 80px;
    border-radius: 4px;
    font-size: 15px;
    background-color: rgb(245, 47, 47);
    font-weight: 400;
    text-align: center;
}

@media screen and (max-width:576px) {
    
    .check{
        font-size: 15px;
        
    }
}