<div class="container">
    <div class="row">
        <div class="col col-sm-6">
            <img src={{menObjects.image}} class="d-block mx-auto mt-5 mb-5" alt="">
        </div>
        <div class="col col-sm-6 mt-5">
             <h3>{{menObjects.brand}}</h3>
             <h6>{{menObjects.description}}</h6>
             <h5><i class="fas fa-rupee-sign me-1"></i>{{menObjects.price}}</h5>
             <hr>
             <h4>PRODUCT DETAILS</h4>
             <p>{{menObjects.productdetails}}</p>
             <h5>Size & Fit</h5>
             <p>{{menObjects.sm.size}}</p>
             <h5>Material & Care</h5>
             <p>{{menObjects.sm.material}}</p>
             <button type="submit" class="mb-4">ADD TO CART<i class="fas fa-cart-plus ms-2"></i></button>
        </div>
    </div>
</div>